* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: purple;
}

.container {
    background-color: goldenrod;
    width: 95vw;
    font-size: 16px;
    max-width: 31.25em;
    padding: 3.5em 2.5em;
    position: absolute;
     transform: translate(-50%, -50%);

    left: 50%;
    top: 50%; 

    border-radius:  35px;
    box-shadow: 15px 20px darkgoldenrod;

}

.search-container {
    display: flex;
    justify-content: space-between;
}

.container input, .container button {
    font-size: 1.25em;
    outline: rgb(121, 121, 4);
    border: 5px solid rgb(104, 104, 4) ;
    background-color: purple;
    color: gold;
    border-radius: 15px;
    padding: 10px 15px;
    text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gold;
    opacity: 1; /* Firefox */
  }
  

.container input {

    background-color: purple;
    color: gold;
    width: 30%;
    border: 5px solid rgb(99, 99, 2);
    padding: .6em;
}

.container button {
    width: 31%;
    font-weight: 500;
    cursor: pointer;
}

#ran-fact-btn {
    width: 100%;
    margin-top: 1em;
}

.fact {
    background-color: purple;
    box-shadow: 0 0 1.2em gold;
    color: gold;
    text-align: center;
    font-size: 1.15em;
    margin-top: 20px;
    padding: 9px 15px;
    border-radius: 20px;
    white-space: normal;
    word-break: break-word;
    box-shadow: 2px 5px;
    border: 3.5px solid rgb(99, 99, 2);
    border-bottom:  1em solid rgb(99, 99, 2);
    display: none;

}

.fact h2 {
    font-size: 2.2em;
    
}

.fact p {
    font-size: 1.1em;
    font-weight: 550;
    line-height: 1.5em;
    margin-top: .4em;
}




